@inject _0_Framework.Application.IAuthHelper authHelper
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html dir="rtl" lang="fa-IR">
<head>
    <meta charset="UTF-8" />
    <meta name="generator" content="site 2.8.1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name='robots' content='max-image-preview:large' />
    <title>فروشگاه آنلاین لوازم یدکی خودرو</title>
    <meta name="description" content="فروشگاه آنلاین خرید اینترنتی قطعات لوازم یدکی خودرو پراید پژو با بهترین قیمت و ارسال رایگان و ضمانت اصل‌بودن کالا ارسال سراسر کشور" />
    <meta name="robots" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    <link rel="canonical" href="#" />
    <meta property="og:locale" content="fa_IR" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="فروشگاه آنلاین لوازم یدکی خودرو" />
    <meta property="og:description" content="فروشگاه آنلاین خرید اینترنتی قطعات لوازم یدکی خودرو پراید پژو با بهترین قیمت و ارسال رایگان و ضمانت اصل‌بودن کالا ارسال سراسر کشور" />
    <meta property="og:url" content="#" />
    <meta property="og:site_name" content="فروشگاه آنلاین لوازم یدکی خودرو" />
    <meta name="twitter:card" content="summary_large_image" />
    <link rel="alternate" type="application/rss+xml" title="فروشگاه آنلاین لوازم یدکی خودرو" href="" />
    <meta name="robots" content="noindex, nofollow" />
    <!--[if lt IE 9]><script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

    <link rel="icon" type="image/png" href="~/Theme/assets/img/logo-fal-blue-1-1.webp" />
    <link rel="apple-touch-icon" href="~/Theme/assets/img/logo-fal-blue-1-1.webp" />
    <meta name="msapplication-TileImage" content="~/Theme/assets/img/logo-fal-blue-1-1.webp" />
    <link rel="stylesheet" id="style-css" href="~/Theme/assets/css/styles.css?ver=9.0.1" type="text/css" media="all" />
</head>
<body class="rtl product-template-default single-product products style_tabs_three">
    <header class="user_header">
        <div class="container">
            <div class="my_account_menu"><i class="fal fa-bars"></i>فهرست</div>
            <div class="account_head_icon text_align_left">
                <a href="#" class="up_top_logout" title="خروج از حساب"><i class="fal fa-power-off"></i></a>
                <a class="up_top_notify " href="#" title="اطلاعیه ها"><i class="fal fa-bell"></i></a>
                <a class="up_top_setting" href="#" title="تنظیمات"><i class="fal fa-cog"></i></a>
                <a class="up_top_home" href="#"><i class="fal fa-house-flood"></i></a>
            </div>
        </div>
    </header>

    <div class="main-site-wrap">
        <div class="mweb-site-mask"></div>
        <div class="site-wrap-outer clear">
            <div class="container-wrap page-my-account">
                <div class="container">
                    <div id="content">
                        <div class="products">
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-3">

                                    <nav class="products-MyAccount-navigation">
                                        <div class="my_account_close"><i class="fal fa-times"></i></div>
                                        <div class="my_account_info">
                                            <a href="#" class="myacc_gravatar" title=""><img alt="" src="img/avatar.jpg" class="avatar avatar-90 photo" /></a>
                                            <span class="myacc_username">Homayouni</span>
                                            <span class="myacc_displayname">@authHelper.CurrentAccountInfo().Fullname</span>
                                        </div>
                                        <ol class="my_account_date clear">
                                            <li><div class="el_myc_date pre"><span>12</span><span>مهر</span></div></li>
                                            <li><div class="el_myc_date pre"><span>13</span><span>مهر</span></div></li>
                                            <li><div class="el_myc_date current"><span>14</span><span>مهر</span></div></li>
                                            <li><div class="el_myc_date next"><span>15</span><span>مهر</span></div></li>
                                            <li><div class="el_myc_date next"><span>16</span><span>مهر</span></div></li>
                                        </ol>
                                        <div class="my_account_cmenu">
                                            <div class="myacc_item_menu"><a href="#" title=""><i class="fal fa-store"></i>صفحه اصلی فروشگاه</a></div>
                                        </div>

                                        <ul>
                                            <li class="products-MyAccount-navigation-link products-MyAccount-navigation-link--dashboard is-active"><a href="#">پیشخوان</a></li>
                                            <li class="products-MyAccount-navigation-link products-MyAccount-navigation-link--orders"><a href="#">سفارش‌ها</a></li>
                                            <li class="products-MyAccount-navigation-link products-MyAccount-navigation-link--wishlists"><a href="#">علاقه مندی ها</a></li>
                                            <li class="products-MyAccount-navigation-link products-MyAccount-navigation-link--notify"><a asp-page="\EditProfile">ویرایش پروفایل</a></li>
                                            <li class="products-MyAccount-navigation-link products-MyAccount-navigation-link--review"><a href="#">دیدگاه ها</a></li>
                                            <li class="products-MyAccount-navigation-link products-MyAccount-navigation-link--notification"><a href="#">اطلاع رسانی ها</a></li>
                                            <li class="products-MyAccount-navigation-link products-MyAccount-navigation-link--edit-address"><a href="#">آدرس‌ها</a></li>
                                            <li class="products-MyAccount-navigation-link products-MyAccount-navigation-link--edit-account"><a href="#">جزئیات حساب</a></li>
                                            <li class="products-MyAccount-navigation-link products-MyAccount-navigation-link--customer-logout"><a href="#">خروج از سیستم</a></li>
                                        </ul>
                                    </nav>
                                </div>
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="elementor-section elementor-top-section elementor-element elementor-section-boxed elementor-section-height-default">
        <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-row">
                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element">
                    <div class="elementor-column-wrap elementor-element-populated">
                        <div class="elementor-widget-wrap">
                            <div class="block-title">
                                <div class="title"><i class="fal fa-gavel"></i>تعهدات ما</div>
                            </div>
                            <div class="elementor-element elementor-widget elementor-widget-block-service-slider">
                                <div class="elementor-widget-container">
                                    <div class="mweb-swiper">
                                        <div class="swiper-slider swiper-container" dir="rtl"
                                             data-slider='{"slidesPerView":1,"spaceBetween":15,"watchSlidesVisibility":true,"loop":true,"autoplay":true,"touchMoveStopPropagation":true,"pagination":{"el":".mweb-swiper-pagination","clickable":true},"navigation":{"nextEl":".mweb-swiper-next","prevEl":".mweb-swiper-prev"},"breakpoints":{"575":{"slidesPerView":1},"768":{"slidesPerView":2},"1024":{"slidesPerView":7}}}'>
                                            <div class="swiper-wrapper">

                                                <div class="swiper-slide swiper-slide-visible">
                                                    <div class="support_info">
                                                        <img src="img/packaging-6.webp" /><span>تحویل اکسپرس</span>
                                                    </div>
                                                </div>

                                                <div class="swiper-slide swiper-slide-visible">
                                                    <div class="support_info">
                                                        <img src="img/money.webp" /><span>ضمانت بازگشت</span>
                                                    </div>
                                                </div>

                                                <div class="swiper-slide swiper-slide-visible">
                                                    <div class="support_info">
                                                        <img src="img/wallet.webp" /><span>پرداخت در محل</span>
                                                    </div>
                                                </div>

                                                <div class="swiper-slide swiper-slide-visible">
                                                    <div class="support_info">
                                                        <img src="img/credit-card.webp" /><span>تضمین بهترین قیمت</span>
                                                    </div>
                                                </div>

                                                <div class="swiper-slide swiper-slide-visible">
                                                    <div class="support_info">
                                                        <img src="img/secure.webp" /><span>ضمانت اصل بودن</span>
                                                    </div>
                                                </div>

                                                <div class="swiper-slide swiper-slide-visible" style="width: 155.714px; margin-left: 15px;">
                                                    <div class="support_info">
                                                        <img src="img/map-1.webp" /><span>ارسال به تمام نقاط</span>
                                                    </div>
                                                </div>

                                                <div class="swiper-slide swiper-slide-visible">
                                                    <div class="support_info">
                                                        <img src="img/gift-1-1.webp" /><span>بسته بندی زیبا</span>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <footer class="footer_wrap clear footer_3">
        <div class="container">
            <div class="row">

                <div class="col-3 col-sm-2 col-md-2">
                    <div class="footer_back2top">
                        <svg xmlns="http://www.w3.org/2000/svg" width="73" height="27" viewBox="0 0 73 27">
                            <path d="M73.246,0C71.089,0.883,68.254,2.292,67,4c-6.578,8.961-16.48,23-30,23S13.578,13.1,7,4.229C5.608,2.352,2.27.839,0.073,0H73.246Z" />
                        </svg>
                        <div class="gototop"><i class="fal fa-level-up-alt"></i></div>
                    </div>
                </div>

                <div class="col-9 col-sm-10 col-md-10">
                    <div class="footer_top_w">
                        <a href="#" class="app_btn"><i class="fab fa-apple"></i><span class="big_txt">Apple ios</span></a> <a href="#" class="app_btn"><i class="fab fa-android"></i><span class="big_txt">Android</span></a>
                    </div>
                </div>

                <div class="clear footer_separate"></div>

                <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                    <div class="footer_list mweb-swiper">
                        <div class="title_list">نماد ساماندهی</div>
                        <div class="swiper-slider swiper-container" dir="rtl" data-slider='{"slidesPerView":1,"spaceBetween":15,"watchSlidesVisibility":true,"loop":true,"autoplay":true,"touchMoveStopPropagation":true,"pagination":{"el":".mweb-swiper-pagination","clickable":true},"navigation":{"nextEl":".mweb-swiper-next","prevEl":".mweb-swiper-prev"},"breakpoints":{"575":{"slidesPerView":1},"768":{"slidesPerView":1},"1024":{"slidesPerView":1}}}'>
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img src="img/samandehi_logo.png" />
                                </div>
                                <div class="swiper-slide">
                                    <img src="img/enamad_logo.png" />
                                </div>
                            </div>
                            <div class="mweb-swiper-pagination"></div>
                        </div>
                    </div>
                </div>

                <div class="col-6 col-sm-12 col-md-3 col-lg-2">
                    <div class="footer_list">
                        <div class="title_list">خدمات مشتریان</div>
                        <ul class="menu">
                            <li class="menu-item menu-item-type-post_type"><a href="#">تماس با ما</a></li>
                            <li class="menu-item menu-item-type-post_type"><a href="#">شورتکد</a></li>
                            <li class="menu-item menu-item-type-custom"><a href="#">سوالات متداول</a></li>
                            <li class="menu-item menu-item-type-custom"><a href="#">رویه بازگردانی کالا</a></li>
                            <li class="menu-item menu-item-type-custom"><a href="#">حریم خصوصی</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                    <h4 class="footer_aboutus_head"><i class="fal fa-info"></i>ما کی هستیم</h4>
                    <div class="footer_aboutus">
                        فروشگاه آنلاین لوازم یدکی خودرو دیناپخش با ارائه خدمات فروش آنلاین لوازم یدکی خودرو تلاش کرده است با پشتوانه سال ها تجربه در بازار قطعات یدکی خودرو، مجموعه ای از بهترین ها را برای شما فراهم نماید.
                        با استفاده از بخش تماس با ما پذیرای هرگونه پیشنهاد، نظر، انتقاد از سوی کاربران عزیز هستیم.
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                    <div class="contact_us_wrap type_3">
                        <h5>ارتباط با ما</h5>
                        <div class="contact_item"><i class="fal fa-map-marked-alt"></i><span>تهران - خیابان ولیعصر - ساختمان شفق</span></div>
                        <div class="contact_item phone"><i class="fal fa-phone-volume"></i><strong>0215</strong>567890744</div>
                        <div class="contact_item email">info@yourstite.com</div>
                        <div class="clear"></div>
                        <a class="footer_social_l telegram" href="#"><i class="fab fa-telegram-plane"></i> Telegram</a>
                        <a class="footer_social_l instagram" href="#"><i class="fab fa-instagram"></i> Instagram</a>
                    </div>
                </div>

                <div class="col-12">
                    <div class="footer_down">
                        <div class="copy_right">کلیه حقوق مادی و معنوی برای این سایت محفوظ می باشد</div>
                        <div class="logo_designer"><a href="#" rel="nofollow" target="_blank" title="Web design and develop group"> طراحی و توسعه </a> دیناپخش</div>
                    </div>
                </div>

            </div>
        </div>
    </footer>
    <script type='text/javascript' src='js/main-header.js' id='site-script'></script>
</body>
</html>