@page
@model ServiceHost.Pages.about_usModel
@{
}

<div class="main-site-wrap">
    <div class="mweb-site-mask"></div>
    <div class="site-wrap-outer clear">
        <div class="page-wrap page-layout-wrap is-sidebar-none container">
            <div class="row">
                <div class="content-wrap page-layout-inner content-without-sidebar col-12">
                    <article class="is-page inner_wrap post-wrapper post-611 page type-page status-publish hentry">
                        <div class="blog_top">
                            <div class="blog_icon"><i class="fal fa-compress"></i></div>
                            <h1 class="blog_title">درباره ما</h1>
                        </div>

                        <div class="entry entry-content">
                            <h2 style="text-align: right;"><span style="color: #ff0000;">چشم انداز:  (Vision)</span></h2>
                            <p>پخشینو شرکتی دانش محور و فعال در کلیه زمینه های خرید و فروش ، تامین و توزیع قطعات یدکی خودرو می باشد  و در صدد برآورده کردن نیازهای حال و آینده مشتریان و تامین کنندگان کالا با بالاترین کیفیت از تولید کنندگان داخلی و شناسایی فرصت های بازار، به وسیله ی طراحی و نوآوری بازاریابی فروش در محصولات، ارائه خدمات حرفه ای فروش و پس از فروش و همکاری راهبردی با تولید کنندگان است . همچنین با  نیروی انسانی کارآمد و فرآیندهای رقابتی، جایگاه خود را ارتقا داده و ایجاد منافع مشترک با فروشندگان و خریداران محصولات را تضمین می کند.</p>
                            <p>پخشینو  شرکتی برآمده از تطبیق و سازماندهی است که بر پایه ارزش بخشیدن به صنایع مشترک، کارمندان خود و سهامداران و بر اساس فرهنگ سازمانی، خوشبینی، صداقت ، کارگروهی سازنده و منابع خلاقانه سرمایه انسانی با استفاده از فن آوری های نوین جهانی فعالیت دارد.</p>
							
							<p>&nbsp;</p>
                            <h2 style="text-align: right;"><span style="color: #ff0000;">بیانیه ماموریت:  (Mission)</span></h2>
                            <p>1)ماموریت ما کمک  مداوم با استفاده از فناوری های نوین، نوار تجربه کنندگان در جستجو، کشف و خرید محصولات و توانمند سازی مشاغل و تولید کنندگان برای به حداکثر رساندن موفقیت است.</p>
                            <p>2) همچنین  سعی ما بر توانمند سازی دیجیتال و فیزیکی پخش محصولات با پشتیبانی از تولید کنندگان از طریق یک شبکه توزیع یکپارچه برای جلب رضایت مشتریان خود با ارائه محصولات رقابتی بصورت فیزیکی و آنلاین می باشد .</p>
                            <p>3) شرکت ما با پخش قطعات یدکی خودرو از طریق فروشگاه های آنلاین و فیزیکی به مصرف کنندگان و ارائه  خدمات 24 ساعته در دسترس، بر انتخاب، قیمت و راحتی در خرید مشتریان تمرکز دارد.</p>
							
							<p>&nbsp;</p>
                            <h2 style="text-align: right;"><span style="color: #ff0000;">ارزشها:  (value)</span></h2>
                            <p>1- بالا بردن جنبه های ارزش های اخلاقی کاری در تمامی فعالیت ها و روابط و پیوندها.</p>
                            <p>2-تعهد به رضایت مشتریان و تاثیر بر تداوم پایدار و پرشور و شوق خریداران.</p>
                            <p>3-بالابردن استانداردها و پیشرفت مداوم در همه امور مربوطه..</p>							


                        </div>

                    </article>
                </div>
            </div>
        </div>
    </div>
</div>