@page
@model ServiceHost.Pages.contact_usModel
@{
}

<div class="main-site-wrap">
		<div class="mweb-site-mask"></div>
		<div class="site-wrap-outer clear">
		<div class="page-wrap get_in_touch is-sidebar-none container">
		<div class="row">		
<div class="col-12">
	<div class="contact_wrap">
		<div class="contact_right">
			<h1>تماس با ما</h1>
			<div class="contact_w"><i class="fal fa-envelope"></i><h4><a href="mailto:info@pakhshinoo.com">info@pakhshinoo.com</a></h4><span></span></div>
			<div class="contact_w"><i class="fal fa-phone"></i><h4><a href="tel:+982146886036">02146886036</a></h4><span></span></div>
			<div class="contact_w"><i class="fal fa-map"></i><h4>تهران - شهر قدس - 45 متری کلهر - بالاتراز راهنمایی رانندگی - پلاک 17</h4><span></span></div>
			
			<div class="location">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.3280742777592!2d51.11074850060657!3d35.69354348351269!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8df1e1921144cd%3A0x28c1da3f423b8ce9!2sTehran%20Province%2C%20Qods%2C%20Kalhor%20Blvd%2C%20Iran!5e0!3m2!1sen!2s!4v1653729171022!5m2!1sen!2s" width="350" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
			</div>
		</div>	
		<div class="contact_left">
			<div dir="rtl" lang="fa-IR">
<form action="#" method="post" class="wsform-form init">
<p>
<label> نام (اجباری)<br><span class="wsform-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wsform-form-control wsform-text wsform-validates-as-required"></span></label>
</p>
<p>
<label> ایمیل (اجباری)<br><span class="wsform-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wsform-form-control wsform-text wsform-email wsform-validates-as-required wsform-validates-as-email"></span> </label>
</p>
<p>
<label> موضوع<br><span class="wsform-form-control-wrap your-subject"><input type="text" name="your-subject" value="" size="40" class="wsform-form-control wsform-text"></span></label>
</p>
<p>
<label> پیام شما<br><span class="wsform-form-control-wrap your-message"><textarea name="your-message" cols="40" rows="10" class="wsform-form-control wsform-textarea" ></textarea></span></label>
</p>
<p><input type="submit" value="ارسال" class="wsform-form-control wsform-submit"></p>
</form>
</div>
</div>	
	</div>
</div>
<div class="col-12">
	<div class="entry entry-content">
		<p>پخشینو شرکتی دانش محور و فعال در کلیه زمینه های خرید و فروش ، تامین و توزیع قطعات یدکی خودرو می باشد  و در صدد برآورده کردن نیازهای حال و آینده مشتریان و تامین کنندگان کالا با بالاترین کیفیت از تولید کنندگان داخلی و شناسایی فرصت های بازار، به وسیله ی طراحی و نوآوری بازاریابی فروش در محصولات، ارائه خدمات حرفه ای فروش و پس از فروش و همکاری راهبردی با تولید کنندگان است . همچنین با  نیروی انسانی کارآمد و فرآیندهای رقابتی، جایگاه خود را ارتقا داده و ایجاد منافع مشترک با فروشندگان و خریداران محصولات را تضمین می کند.</p>
		<p>
پخشینو  شرکتی برآمده از تطبیق و سازماندهی است که بر پایه ارزش بخشیدن به صنایع مشترک، کارمندان خود و سهامداران و بر اساس فرهنگ سازمانی، خوشبینی، صداقت ، کارگروهی سازنده و منابع خلاقانه سرمایه انسانی با استفاده از فن آوری های نوین جهانی فعالیت دارد.
</p>
	</div>
</div>


</div></div></div>
</div>
