@page
@model ServiceHost.Pages.FAQModel
@{
}

<div class="main-site-wrap">
    <div class="mweb-site-mask"></div>
    <div class="site-wrap-outer clear">
        <div class="page-wrap page-layout-wrap is-sidebar-none container">
            <div class="row">
                <div class="content-wrap page-layout-inner content-without-sidebar col-12">
                    <article class="is-page inner_wrap post-wrapper post-611 page type-page status-publish hentry">
                        <div class="blog_top">
                            <div class="blog_icon"><i class="fal fa-compress"></i></div>
                            <h1 class="blog_title">رویه‌های بازگرداندن کالا</h1>
                        </div>

                        <div class="entry entry-content">
                            <h2 style="text-align: center;"><span style="color: #ff0000;">رویه‌های بازگرداندن کالا</span></h2>

                        </div>

                    </article>
                </div>
            </div>
        </div>
    </div>
</div>
