@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="main-site-wrap">
    <div class="mweb-site-mask"></div>

    <div class="site-wrap-outer clear">
        <div class="elementor elementor-1702">
            <div class="elementor-inner">
                <div class="elementor-section-wrap">


                    <section class="elementor-section elementor-top-section elementor-element elementor-section-boxed elementor-section-height-default elementor-section-height-default">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-row">
                                <div class="elementor-column elementor-col-100">
                                    <div class="elementor-column-wrap elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                            <div class="elementor-element overflow_hide elementor-widget elementor-widget-shortcode">
                                                <div class="elementor-widget-container">
                                                    <div class="elementor-shortcode">
                                                        <!-- START Slider -->
                                                        <p class="rs-p-wp-fix"></p>

                                                        @await Component.InvokeAsync("Slide")

                                                        <!-- END REVOLUTION SLIDER -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="elementor-section elementor-top-section elementor-element elementor-section-boxed elementor-section-height-default">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-row">
                                <div class="elementor-column elementor-col-50 elementor-top-column elementor-element">
                                    <div class="elementor-column-wrap elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                            <div class="elementor-element elementor-element-f78791c elementor-widget elementor-widget-block-promotion">
                                                <div class="elementor-widget-container">
                                                    <div class="banner hover-zoom">
                                                        <a href="#" title="اجاره خودرو بدون راننده " target="_blank" rel="nofollow">
                                                            <div class="banner-image" style="background-image: url(/Theme/assets/img/ban5-min.png);"></div>
                                                            <div class="banner-content-warper">
                                                                <div class="banner-content align-right valign-top text-align-right">
                                                                    <div class="banner-inner">
                                                                        <h3>اجاره خودرو بدون راننده</h3>
                                                                        <p>با بهترین شرایط تحویل در سراسر کشور</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="elementor-column elementor-col-50 elementor-top-column elementor-element">
                                    <div class="elementor-column-wrap elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                            <div class="elementor-element elementor-element-846e511 elementor-widget elementor-widget-block-promotion">
                                                <div class="elementor-widget-container">
                                                    <div class="banner hover-zoom">
                                                        <div class="banner-image" style="background-image: url(/Theme/assets/img/ban3-min.png);"></div>
                                                        <div class="banner-content-warper">
                                                            <div class="banner-content align-left valign-middle text-align-right">
                                                                <div class="banner-inner">
                                                                    <h3>رینگ و لاستیک</h3>
                                                                    <p>از برند های معتبر تا 60 درصد تخفیف</p>
                                                                    <a href="#" class="btn btn_link_left" target="_blank" rel="nofollow">مشاهده محصولات</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="elementor-element elementor-element-bb82f8a elementor-widget elementor-widget-block-promotion">
                                                <div class="elementor-widget-container">
                                                    <div class="banner hover-zoom">
                                                        <div class="banner-image" style="background-image: url(/Theme/assets/img/ban4-min.png);"></div>
                                                        <div class="banner-content-warper">
                                                            <div class="banner-content align-left valign-middle text-align-right">
                                                                <div class="banner-inner">
                                                                    <h3>دیسک ترمز</h3>
                                                                    <p>واردات کالای های استوک</p>
                                                                    <a href="#" class="btn btn_link_center" target="_blank" rel="nofollow">خرید کنید</a>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </section>


                    @await Component.InvokeAsync("SpecialProducts")


                    @await Component.InvokeAsync("LatestProducts")


                    <section class="elementor-section elementor-top-section elementor-element elementor-section-boxed elementor-section-height-default elementor-section-height-default">
                        <div class="elementor-container elementor-column-gap-narrow">
                            <div class="elementor-row">
                                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element">
                                    <div class="elementor-column-wrap elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                            <div class="elementor-element elementor-widget elementor-widget-carousel-onsale-product">
                                                <div class="elementor-widget-container">
                                                    <div class="block-title has_url">
                                                        <div class="title"><i class="fal fa-box"></i>پرفروش ترین ها</div>
                                                        <a href="#" class="bk_view_more" title="پرفروش ترین ها"><i class="fal fa-angle-left"></i>مشاهده همه</a>
                                                    </div>
                                                    <div class="block-content-wrap">
                                                        <div class="block-content-inner clear row product-type-1">
                                                            <div class="col-12 col-sm-12 col-md-8 col-lg-9">
                                                                <div class="mweb-swiper">
                                                                    <div class="swiper-slider swiper-container" dir="rtl"
                                                                         data-slider='{"slidesPerView":1,"spaceBetween":15,"watchSlidesVisibility":true,"loop":true,"autoplay":true," touchMoveStopPropagation":true,"breakpoints":{"575":{"slidesPerView":1},"768":{"slidesPerView":2},"1024":{"slidesPerView":"4"}}}'>
                                                                        <div class="swiper-wrapper">

                                                                            <div class="swiper-slide">
                                                                                <div class="item deal_ended">
                                                                                    <div class="item-area item_general clear">
                                                                                        <div class="product-image-area">
                                                                                            <a class="product-image" href="">
                                                                                                <div class="product-label label-circle">
                                                                                                    <div class="circle"></div>
                                                                                                    <span>5%</span>
                                                                                                </div>
                                                                                                <img width="185" height="185" src="~/Theme/assets/img/85654666-185x185.jpg" />
                                                                                            </a>
                                                                                        </div>
                                                                                        <div class="product-detail-area">
                                                                                            <span class="price">
                                                                                                <del aria-hidden="true"><span class="amount"><bdi>1,690,000&nbsp;<span>تومان</span></bdi></span></del>
                                                                                                <ins><span class="amount"><bdi>1,600,000&nbsp;<span>تومان</span></bdi></span></ins>
                                                                                            </span>
                                                                                            <h3 class="product-name">
                                                                                                <a href="#" title="لاستیک خودرو کومهو تایر مدل HS51 سایز 205/65R14 &#8211; دو حلقه"> لاستیک خودرو کومهو تایر مدل HS51 سایز 205/65R14 &#8211; دو حلقه</a>
                                                                                            </h3>
                                                                                            <div class="actions">
                                                                                                <ul class="add-to-links">
                                                                                                    <li><div class="add_to_wishlist_wrap"><a href="#" class="add_to_wishlist"></a></div></li>
                                                                                                    <li class="compare-button"><a href="#" class="button compare">مقایسه</a></li>
                                                                                                    <li><div class="add-to-cart-wrap"><a href="#" class="button add_to_cart_button">افزودن به سبد</a></div></li>
                                                                                                </ul>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>


                                                                            <div class="swiper-slide">
                                                                                <div class="item deal_ended">
                                                                                    <div class="item-area item_general clear">
                                                                                        <div class="product-image-area">
                                                                                            <a class="product-image" href="">
                                                                                                <div class="product-label label-circle">
                                                                                                    <div class="circle"></div>
                                                                                                    <span>1%</span>
                                                                                                </div>
                                                                                                <img width="185" height="185" src="~/Theme/assets/img/987666-185x185.jpg" />
                                                                                            </a>
                                                                                        </div>
                                                                                        <div class="product-detail-area">
                                                                                            <span class="price">
                                                                                                <del aria-hidden="true"><span class="amount"><bdi>2,690,000&nbsp;<span>تومان</span></bdi></span></del>
                                                                                                <ins><span class="amount"><bdi>2,600,000&nbsp;<span>تومان</span></bdi></span></ins>
                                                                                            </span>
                                                                                            <h3 class="product-name">
                                                                                                <a href="#" title="لچراغ جلو و چراغ عقب فن آوران پرتو الوند مدل RADFAR 131 مناسب برای پراید 131 بسته 4 عددی">چراغ جلو و چراغ عقب فن آوران پرتو الوند مدل RADFAR 131 مناسب برای پراید 131 بسته 4 عددی</a>
                                                                                            </h3>
                                                                                            <div class="actions">
                                                                                                <ul class="add-to-links">
                                                                                                    <li><div class="add_to_wishlist_wrap"><a href="#" class="add_to_wishlist"></a></div></li>
                                                                                                    <li class="compare-button"><a href="#" class="button compare">مقایسه</a></li>
                                                                                                    <li><div class="add-to-cart-wrap"><a href="#" class="button add_to_cart_button">افزودن به سبد</a></div></li>
                                                                                                </ul>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                            <div class="swiper-slide">
                                                                                <div class="item deal_ended">
                                                                                    <div class="item-area item_general clear">
                                                                                        <div class="product-image-area">
                                                                                            <a class="product-image" href="">
                                                                                                <div class="product-label label-circle">
                                                                                                    <div class="circle"></div>
                                                                                                    <span>1%</span>
                                                                                                </div>
                                                                                                <img width="185" height="185" src="~/Theme/assets/img/75634-185x185.jpg" />
                                                                                            </a>
                                                                                        </div>
                                                                                        <div class="product-detail-area">
                                                                                            <span class="price">
                                                                                                <del aria-hidden="true"><span class="amount"><bdi>2,690,000&nbsp;<span>تومان</span></bdi></span></del>
                                                                                                <ins><span class="amount"><bdi>2,600,000&nbsp;<span>تومان</span></bdi></span></ins>
                                                                                            </span>
                                                                                            <h3 class="product-name">
                                                                                                <a href="#" title="پخش کننده خودرو سونی مدل MEX-M100BT">پخش کننده خودرو سونی مدل MEX-M100BT</a>
                                                                                            </h3>
                                                                                            <div class="actions">
                                                                                                <ul class="add-to-links">
                                                                                                    <li><div class="add_to_wishlist_wrap"><a href="#" class="add_to_wishlist"></a></div></li>
                                                                                                    <li class="compare-button"><a href="#" class="button compare">مقایسه</a></li>
                                                                                                    <li><div class="add-to-cart-wrap"><a href="#" class="button add_to_cart_button">افزودن به سبد</a></div></li>
                                                                                                </ul>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                            <div class="swiper-slide">
                                                                                <div class="item deal_ended">
                                                                                    <div class="item-area item_general clear">
                                                                                        <div class="product-image-area">
                                                                                            <a class="product-image" href="">
                                                                                                <div class="product-label label-circle">
                                                                                                    <div class="circle"></div>
                                                                                                    <span>1%</span>
                                                                                                </div>
                                                                                                <img width="185" height="185" src="~/Theme/assets/img/876-185x185.jpg" />
                                                                                            </a>
                                                                                        </div>
                                                                                        <div class="product-detail-area">
                                                                                            <span class="price">
                                                                                                <del aria-hidden="true"><span class="amount"><bdi>2,690,000&nbsp;<span>تومان</span></bdi></span></del>
                                                                                                <ins><span class="amount"><bdi>2,600,000&nbsp;<span>تومان</span></bdi></span></ins>
                                                                                            </span>
                                                                                            <h3 class="product-name">
                                                                                                <a href="#" title="روکش صندلی خودرو مدل 88 بسته دو عددی">روکش صندلی خودرو مدل 88 بسته دو عددی</a>
                                                                                            </h3>
                                                                                            <div class="actions">
                                                                                                <ul class="add-to-links">
                                                                                                    <li><div class="add_to_wishlist_wrap"><a href="#" class="add_to_wishlist"></a></div></li>
                                                                                                    <li class="compare-button"><a href="#" class="button compare">مقایسه</a></li>
                                                                                                    <li><div class="add-to-cart-wrap"><a href="#" class="button add_to_cart_button">افزودن به سبد</a></div></li>
                                                                                                </ul>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="d-none d-md-block col-12 col-sm-12 col-md-4 col-lg-3 deal_left_side">
                                                                <div class="deal_left_timer">
                                                                    <img src="~/Theme/assets/img/suggest.png" alt="انواع قطعات خودرو">
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>


                    <section class="elementor-section elementor-top-section elementor-element elementor-section-boxed elementor-section-height-default elementor-section-height-default">
                        <div class="elementor-container elementor-column-gap-narrow">
                            <div class="elementor-row">
                                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element">
                                    <div class="elementor-column-wrap elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                            <div class="elementor-element row-is-d-noflex-1 elementor-widget elementor-widget-small-list-product">
                                                <div class="elementor-widget-container">
                                                    <div class="mweb-block-wrap">
                                                        <div class="block-title has_url">
                                                            <div class="title"><i class="fal fa-box"></i>پربازدیدترین‌ها</div>
                                                            <a href="#" class="bk_view_more" title="پربازدیدترین‌ها"><i class="fal fa-angle-left"></i>مشاهده همه</a>
                                                        </div>
                                                        <div class="block-content-wrap">
                                                            <div class="block-content-inner clear row">
                                                                <div class="item item_simple col-12 col-sm-6 col-lg-4">
                                                                    <div class="item-area clear">
                                                                        <div class="product-image-area">
                                                                            <a title="نمایش محصول" data-toggle="tooltip" class="quickview-btn" href="#"></a>
                                                                            <div class="is-image product-image">
                                                                                <a href="#" title="روکش صندلی خودرو کد SA24 مناسب برای پژو 206 207">
                                                                                    <img width="75" height="75" src="~/Theme/assets/img/998900-75x75.jpg" class="attachment-simplev size-simplev wp-post-image" alt="" />
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                        <div class="product-detail-area">
                                                                            <h2 class="product-name">
                                                                                <a href="#" title="روکش صندلی خودرو کد SA24 مناسب برای پژو 206 207">روکش صندلی خودرو کد SA24 مناسب برای پژو 206 207</a>
                                                                            </h2>
                                                                            <div class="row">
                                                                                <span class="price">
                                                                                    <span class="amount"><bdi>250,000&nbsp;<span>تومان</span></bdi></span>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="item item_simple col-12 col-sm-6 col-lg-4">
                                                                    <div class="item-area clear">
                                                                        <div class="product-image-area">
                                                                            <a title="نمایش محصول" data-toggle="tooltip" class="quickview-btn" href="#"></a>
                                                                            <div class="is-image product-image">
                                                                                <a href="#" title="روکش صندلی خودرو مدل 88 بسته دو عددی">
                                                                                    <img width="75" height="75" src="~/Theme/assets/img/876-75x75.jpg" class="attachment-simplev size-simplev wp-post-image" alt="" />
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                        <div class="product-detail-area">
                                                                            <h2 class="product-name">
                                                                                <a href="#" title="روکش صندلی خودرو مدل 88 بسته دو عددی">روکش صندلی خودرو مدل 88 بسته دو عددی</a>
                                                                            </h2>
                                                                            <div class="row">
                                                                                <span class="price">
                                                                                    <del aria-hidden="true"><span class="amount"><bdi>145,000&nbsp;<span>تومان</span></bdi></span></del> <i> | </i>
                                                                                    <ins><span class="amount"><bdi>138,000&nbsp;<span>تومان</span></bdi></span></ins>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="item item_simple col-12 col-sm-6 col-lg-4">
                                                                    <div class="item-area clear">
                                                                        <div class="product-image-area">
                                                                            <a title="نمایش محصول" data-toggle="tooltip" class="quickview-btn" href="#"></a>
                                                                            <div class="is-image product-image">
                                                                                <a href="#" title="کفپوش سه بعدی خودرو ماهوت مدل اکو مناسب برای پراید تیبا ساینا">
                                                                                    <img width="75" height="75" src="~/Theme/assets/img/6234-75x75.jpg" class="attachment-simplev size-simplev wp-post-image" alt="" />
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                        <div class="product-detail-area">
                                                                            <h2 class="product-name">
                                                                                <a href="#" title="کفپوش سه بعدی خودرو ماهوت مدل اکو مناسب برای پراید تیبا ساینا">کفپوش سه بعدی خودرو ماهوت مدل اکو مناسب برای پراید تیبا ساینا</a>
                                                                            </h2>
                                                                            <div class="row">
                                                                                <span class="price">
                                                                                    <del aria-hidden="true"><span class="amount"><bdi>245,000&nbsp;<span>تومان</span></bdi></span></del> <i> | </i>
                                                                                    <ins><span class="amount"><bdi>178,000&nbsp;<span>تومان</span></bdi></span></ins>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>



                    <section class="elementor-section elementor-top-section elementor-element elementor-section-boxed elementor-section-height-default elementor-section-height-default">
                        <div class="elementor-container elementor-column-gap-narrow">
                            <div class="elementor-row">
                                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element">
                                    <div class="elementor-column-wrap elementor-element-populated">

                                        @await Component.InvokeAsync("ArticleIndexPage")

                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>





                    <section class="elementor-section elementor-top-section elementor-element elementor-section-boxed elementor-section-height-default elementor-section-height-default">
                        <div class="elementor-container elementor-column-gap-narrow">
                            <div class="elementor-row">
                                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element">
                                    <div class="elementor-column-wrap elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                            <div class="elementor-element swiper-slider-nav-both elementor-widget elementor-widget-block-brand-slider">
                                                <div class="elementor-widget-container">
                                                    <div class="mweb-block-wrap">
                                                        <div class="block-title">
                                                            <div class="title"><i class="fal fa-flute"></i>برخی از برندها</div>
                                                        </div>
                                                        <div class="block-content-wrap">
                                                            <div class="block-content-inner clear mweb-swiper">
                                                                <div class="swiper-slider swiper-container" dir="rtl"
                                                                     data-slider='{"slidesPerView":1,"spaceBetween":15,"watchSlidesVisibility":true,"loop":true,"autoplay":true,"touchMoveStopPropagation":true,"pagination":{"el":".mweb-swiper-pagination","clickable":true},"navigation":{"nextEl":".mweb-swiper-next","prevEl":".mweb-swiper-prev"},"breakpoints":{"575":{"slidesPerView":1},"768":{"slidesPerView":2},"1024":{"slidesPerView":7}}}'>
                                                                    <div class="swiper-wrapper">

                                                                        <div class="swiper-slide">
                                                                            <div class="item support_info">
                                                                                <a href="#" target="_blank" title="">
                                                                                    <div class="is-image">
                                                                                        <a href="#" title="نمونه برند6">
                                                                                            <img width="162" height="78" src="~/Theme/assets/img/mazda-162x78.png" class="attachment-brand size-brand" alt="" />
                                                                                        </a>
                                                                                    </div>
                                                                                </a>
                                                                            </div>
                                                                        </div>


                                                                        <div class="swiper-slide">
                                                                            <div class="item support_info">
                                                                                <a href="#" target="_blank" title="">
                                                                                    <div class="is-image">
                                                                                        <a href="#" title="نمونه برند5">
                                                                                            <img width="162" height="78" src="~/Theme/assets/img/lamborghini-162x78.png" class="attachment-brand size-brand" alt="" />
                                                                                        </a>
                                                                                    </div>
                                                                                </a>
                                                                            </div>
                                                                        </div>

                                                                        <div class="swiper-slide">
                                                                            <div class="item support_info">
                                                                                <a href="#" target="_blank" title="">
                                                                                    <div class="is-image">
                                                                                        <a href="#" title="نمونه برند4">
                                                                                            <img width="162" height="78" src="~/Theme/assets/img/audi-162x78.png" class="attachment-brand size-brand" alt="" />
                                                                                        </a>
                                                                                    </div>
                                                                                </a>
                                                                            </div>
                                                                        </div>

                                                                        <div class="swiper-slide">
                                                                            <div class="item support_info">
                                                                                <a href="#" target="_blank" title="">
                                                                                    <div class="is-image">
                                                                                        <a href="#" title="نمونه برند3">
                                                                                            <img width="162" height="78" src="~/Theme/assets/img/toyota-162x78.png" class="attachment-brand size-brand" alt="" />
                                                                                        </a>
                                                                                    </div>
                                                                                </a>
                                                                            </div>
                                                                        </div>

                                                                        <div class="swiper-slide">
                                                                            <div class="item support_info">
                                                                                <a href="#" target="_blank" title="">
                                                                                    <div class="is-image">
                                                                                        <a href="#" title="نمونه برند2">
                                                                                            <img width="162" height="78" src="~/Theme/assets/img/tesla-162x78.png" class="attachment-brand size-brand" alt="" />
                                                                                        </a>
                                                                                    </div>
                                                                                </a>
                                                                            </div>
                                                                        </div>

                                                                        <div class="swiper-slide">
                                                                            <div class="item support_info">
                                                                                <a href="#" target="_blank" title="">
                                                                                    <div class="is-image">
                                                                                        <a href="#" title="نمونه برند1">
                                                                                            <img width="162" height="78" src="~/Theme/assets/img/mercedes-benz-162x78.png" class="attachment-brand size-brand" alt="" />
                                                                                        </a>
                                                                                    </div>
                                                                                </a>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                    <div class="mweb-swiper-next"><i class="fal fa-angle-right"></i></div>
                                                                    <div class="mweb-swiper-prev"><i class="fal fa-angle-left"></i></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>



                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                </div>
            </div>
        </div>
    </div>
</div>
