@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="main-site-wrap">
    <div class="mweb-site-mask"></div>

    <div class="site-wrap-outer clear">
        <div class="elementor elementor-1702">
            <div class="elementor-inner">
                <div class="elementor-section-wrap">


                    <section class="elementor-section elementor-top-section elementor-element elementor-section-boxed elementor-section-height-default elementor-section-height-default">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-row">
                                <div class="elementor-column elementor-col-100">
                                    <div class="elementor-column-wrap elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                            <div class="elementor-element overflow_hide elementor-widget elementor-widget-shortcode">
                                                <div class="elementor-widget-container">
                                                    <div class="elementor-shortcode">
                                                        <!-- START Slider -->
                                                        <p class="rs-p-wp-fix"></p>

                                                        @await Component.InvokeAsync("Slide")

                                                        <!-- END REVOLUTION SLIDER -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="elementor-section elementor-top-section elementor-element elementor-section-boxed elementor-section-height-default">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-row">
                                <div class="elementor-column elementor-col-50 elementor-top-column elementor-element">
                                    <div class="elementor-column-wrap elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                            <div class="elementor-element elementor-element-f78791c elementor-widget elementor-widget-block-promotion">
                                                <div class="elementor-widget-container">
                                                    <div class="banner hover-zoom">
                                                        <a href="#" title="اجاره خودرو بدون راننده " target="_blank" rel="nofollow">
                                                            <div class="banner-image" style="background-image: url(/Theme/assets/img/ban5-min.png);"></div>
                                                            <div class="banner-content-warper">
                                                                <div class="banner-content align-right valign-top text-align-right">
                                                                    <div class="banner-inner">
                                                                        <h3>اجاره خودرو بدون راننده</h3>
                                                                        <p>با بهترین شرایط تحویل در سراسر کشور</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="elementor-column elementor-col-50 elementor-top-column elementor-element">
                                    <div class="elementor-column-wrap elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                            <div class="elementor-element elementor-element-846e511 elementor-widget elementor-widget-block-promotion">
                                                <div class="elementor-widget-container">
                                                    <div class="banner hover-zoom">
                                                        <div class="banner-image" style="background-image: url(/Theme/assets/img/ban3-min.png);"></div>
                                                        <div class="banner-content-warper">
                                                            <div class="banner-content align-left valign-middle text-align-right">
                                                                <div class="banner-inner">
                                                                    <h3>رینگ و لاستیک</h3>
                                                                    <p>از برند های معتبر تا 60 درصد تخفیف</p>
                                                                    <a href="#" class="btn btn_link_left" target="_blank" rel="nofollow">مشاهده محصولات</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="elementor-element elementor-element-bb82f8a elementor-widget elementor-widget-block-promotion">
                                                <div class="elementor-widget-container">
                                                    <div class="banner hover-zoom">
                                                        <div class="banner-image" style="background-image: url(/Theme/assets/img/ban4-min.png);"></div>
                                                        <div class="banner-content-warper">
                                                            <div class="banner-content align-left valign-middle text-align-right">
                                                                <div class="banner-inner">
                                                                    <h3>دیسک ترمز</h3>
                                                                    <p>واردات کالای های استوک</p>
                                                                    <a href="#" class="btn btn_link_center" target="_blank" rel="nofollow">خرید کنید</a>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </section>


                    @await Component.InvokeAsync("SpecialProducts")


                    @await Component.InvokeAsync("LatestProducts")



                    @await Component.InvokeAsync("Orders")



                    @await Component.InvokeAsync("MostVisit")


                    <section class="elementor-section elementor-top-section elementor-element elementor-section-boxed elementor-section-height-default elementor-section-height-default">
                        <div class="elementor-container elementor-column-gap-narrow">
                            <div class="elementor-row">
                                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element">
                                    <div class="elementor-column-wrap elementor-element-populated">

                                        @await Component.InvokeAsync("ArticleIndexPage")

                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>


                    @await Component.InvokeAsync("BrandIndex")



                </div>
            </div>
        </div>
    </div>
</div>
