@model List<_01_PakhshinoQuery.Contract.ProductCategory.ProductCategoryQueryModel>
<ul class="sub-menu">
    <li class="level-1 menu-item-object-product_cat">
        @*<a href="/ProductCategory?id=@item.Id">@item.Name</a>*@
        <a asp-page="/AllProduct" asp-route-pageid="1">همه محصولات</a>
    </li>
    @foreach (var item in Model)
    {
        <li class="level-1 menu-item-object-product_cat">
            @*<a href="/ProductCategory?id=@item.Id">@item.Name</a>*@
            <a asp-page="/ProductCategory" asp-route-id="@item.Id" asp-route-pageid="1">@item.Name</a>
        </li>
    }
</ul>